<%- include('header'); -%>

   <section class="first-section">
      <div class="s1box-1">
       <h3>City : <%= mycity1 %> </h3>
         <p>Temperature : <%= temp1 %></p>
         <p>Max-temp : <%= maxtemp1 %></p>
         <p>Min-temp : <%= mintemp1 %></p>
         <h5>Wind speed : <%= windspeed1 %></h5>
      </div>
      <div class="s1box-2">
         <h3>City : <%= mycity2 %></h3>
         <p>Temperature : <%= temp2 %></p>
         <p>Max-temp : <%= maxtemp2 %></p>
         <p>Min-temp : <%= mintemp2 %></p>
         <h5>Wind speed : <%= windspeed2 %></h5>
      </div>
   </section>

   <section class="second-section">
      <div class="s2box-1">
         <h3>City : <%= mycity3 %></h3>
         <p>Temperature : <%= temp3 %></p>
         <p>Max-temp : <%= maxtemp3 %></p>
         <p>Min-temp : <%= mintemp3 %></p>
         <h5>Wind speed : <%= windspeed3 %></h5>
      </div>
      <div class="s2box-2">
         <h3>City : <%= mycity4 %></h3>
         <p>Temperature : <%= temp4 %></p>
         <p>Max-temp : <%= maxtemp4 %></p>
         <p>Min-temp : <%= mintemp4 %></p>
         <h5>Wind speed : <%= windspeed4 %></h5>
      </div>
   </section>
   <%- include('footer'); -%>
