<%- include('header'); -%>

<section class="first-section">
   <div class="s1box-1">
      <div class="s-header">
         <h3><%= mycity1 %> </h3>
         <img src="http://openweathermap.org/img/wn/<%= weatherIcon0 %>@2x.png" alt="img not found">
      </div>
      <div class="aboutweather">
         <p>Temperature : <%= temp1 %></p>
         <p>Max-temp : <%= maxtemp1 %></p>
         <p>Min-temp : <%= mintemp1 %></p>
         <p>Wind speed : <%= windspeed1 %></p>

      </div>
   </div>
   <div class="s1box-2">
      <div class="s-header">
         <h3><%= mycity2 %> </h3>
         <img src="http://openweathermap.org/img/wn/<%= weatherIcon1 %>@2x.png" alt="img not found">
      </div>
      <div class="aboutweather">
         <p>Temperature : <%= temp2 %></p>
         <p>Max-temp : <%= maxtemp2 %></p>
         <p>Min-temp : <%= mintemp2 %></p>
         <p>Wind speed : <%= windspeed2 %></p>

      </div>
   </div>
</section>

<section class="second-section">
   <div class="s2box-1">
      <div class="s-header">
         <h3><%= mycity3 %> </h3>
         <img src=" http://openweathermap.org/img/wn/<%= weatherIcon2 %>@2x.png" alt="img not found">
      </div>
      <div class="aboutweather">
         <p>Temperature : <%= temp3 %></p>
         <p>Max-temp : <%= maxtemp3 %></p>
         <p>Min-temp : <%= mintemp3 %></p>
         <p>Wind speed : <%= windspeed3 %></p>

      </div>
   </div>
   <div class="s2box-2">
      <div class="s-header">
         <h3><%= mycity4 %> </h3>
         <img src="http://openweathermap.org/img/wn/<%= weatherIcon3 %>@2x.png" alt="img not found">
      </div>
      <div class="aboutweather">
         <p>Temperature : <%= temp4 %></p>
         <p>Max-temp : <%= maxtemp4 %></p>
         <p>Min-temp : <%= mintemp4 %></p>
         <p>Wind speed : <%= windspeed4 %></p>

      </div>
   </div>
</section>
<%- include('footer'); -%>
