<%- include('header'); -%>

<div class="container">
   <div class="s-header">
      <h3>City : <%= customCityName %> </h3>
      <img src="http://openweathermap.org/img/wn/<%= CustomWeatherIcon %>@2x.png" alt="img not found">
   </div>
   <p>Temperature : <%= customCityTemp %></p>
   <p>Max-temp : <%= customCityMaxTemp %></p>
   <p>Min-temp : <%= customCityMinTemp %></p>
   <h5>Wind speed : <%= customCityWindSpeed %></h5>
</div>



<%- include('footer'); -%>
