<%- include('header'); -%>

<div class="container">
   <div class="s-header">
      <h3><%= customCityName %> </h3>
      <img src="http://openweathermap.org/img/wn/<%= CustomWeatherIcon %>@2x.png" alt="img not found">
   </div>
   <div class="aboutweather1">
      <p>Temperature : <%= customCityTemp %></p>
      <p>Max-temp : <%= customCityMaxTemp %></p>
      <p>Min-temp : <%= customCityMinTemp %></p>
      <p>Wind speed : <%= customCityWindSpeed %></p>
   </div>
</div>



<%- include('footer'); -%>
