<%- include('header'); -%>

<div class="container">
   <h3>City : <%= customCityName %> </h3>
   <p>Temperature : <%= customCityTemp %></p>
   <p>Max-temp : <%= customCityMaxTemp %></p>
   <p>Min-temp : <%= customCityMinTemp %></p>
   <h5>Wind speed : <%= customCityWindSpeed %></h5>
</div>



<%- include('footer'); -%>
